
port=7777

rabbitmqhost=localhost
rabbitmqport=5672
rabbitmqusername=guest
rabbitmqpassword=guest

rabbitmqqueue=customer
rabbitmqexchange=customer_exchange
rabbitmqroutingkey=customer_routing_key

db_url=jdbc:oracle:thin:@10.11.201.211:1525/baabsdb
db_user=biotpl
db_password=BIOTPL#2
log_db_url=jdbc:postgresql://localhost:5432/logs
log_db_user=postgres
log_db_password=1234
